{% extends 'store/base.html' %}

{% block title %}VHS-Store{% endblock %}
{% block header %}VHS <font id="page2">Store</font>{% endblock %}

{% block custom_style %}
.content {
	height: 100%;
}
{% endblock %}

{% block content %}
<div id="content-block">
	
	<h1>Read this if you interested in this page</h1><hr>
	<p>
		It’s main page of my cassettes web-magazine.<br> So, you can see that looks like something impossible and that is it.<br><br> It’s not real web-magazine. I haven’t any cassettes and you can’t spend your money on it. In a way it’s sad, for me too. I would to take some cassettes in my hand and watch it for some times.<br><br> But I’m happy that I created that site. It was a big practise for me in django and scrapy.<br><br> You can rate my work in the footter of site. Rate truly and if you have some ideas or critic to me, write that in description to your grade. Have a nice day :)
	</p>
</div>
{% endblock %}